body {
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background-position: center;
}

.text-color-main {
  color: #9b5de5;
}

.bg-color-main {
  background-color: #f15bb5;
}

.hover-bg-color-main:hover {
  background-color: #9b5de5;
}

.product-card {
  background-color: white;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

h1 {
  color: #9b5de5;
  text-align: center;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Poppins', sans-serif;
}

input[type="submit"] {
  background-color: #9b5de5; 
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #f15bb5;
}