body {
    background-color: #f4e1f1;
    font-family: 'Arial', sans-serif;
}


.login {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #f15bb5; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #9b5de5;
    text-align: center;
}


table {
    width: 100%;
    line-height: 2.5;
}


input[type="submit"] {
    background-color: #9b5de5; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #f15bb5; /
}


ul, ol {
    list-style-type: none;
    padding: 0;
    color: red;
}

li {
    margin-top: 10px;
}


.text-center {
    text-align: center;
}

.text-color-main {
    color: #9b5de5;
}

.bg-color-main {
    background-color: #f15bb5;
}

.border-color-main {
    border-color: #f15bb5; 
}

.hover-bg-color-main:hover {
    background-color: #9b5de5;
}

@keyframes shine {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}

@keyframes slide {
    from { transform: translateX(-10px); }
    to { transform: translateX(10px); }
  }
  
.animate-shine {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3));
    background-size: 200% 100%;
    animation: shine 3s infinite;
}

/* Styles for mobile and small screens */
@media (max-width: 768px) {
    /* Menampilkan mobile menu button dan menyembunyikan navigation links desktop */
    .mobile-menu-button {
      display: block;
    }
  
    .md\\:flex.items-center.space-x-4 {
      display: none;
    }
  
    /* Styling untuk mobile menu */
    .mobile-menu {
      display: block; /* Sembunyikan secara default dan hanya tampilkan saat button diklik */
    }
  
    .mobile-menu.hidden {
      display: none;
    }
  }
  
  /* Styles for desktop screens */
  @media (min-width: 769px) {
    /* Menyembunyikan mobile menu button pada desktop */
    .mobile-menu-button {
      display: none;
    }
  
    /* Menampilkan navigation links untuk desktop */
    .md\\:flex.items-center.space-x-4 {
      display: flex;
    }
  
    /* Menyembunyikan mobile menu pada desktop */
    .mobile-menu {
      display: none;
    }
  }
  
