<nav class="bg-indigo-600 shadow-lg fixed top-0 left-0 z-40 w-full">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <h1 class="text-xl font-bold text-white">Fresh n Bloom</h1>
      </div>
      <!-- Navigation Links for Desktop -->
      <div class="hidden md:flex items-center space-x-4">
        {% if user.is_authenticated %}
          <a href="{% url 'main:show_main' %}" class="text-white hover:text-gray-300">Admin</a>
          <a href="{% url 'main:home' %}" class="text-white hover:text-gray-300">Home</a>
          <a href="{% url 'main:categories' %}" class="text-white hover:text-gray-300">Categories</a>
          <a href="{% url 'main:view_cart' %}" class="text-white hover:text-gray-300">Cart</a>
          <span class="text-gray-300 mr-4">Welcome, {{ user.username }}</span>
          <a href="{% url 'main:logout' %}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-300">
            Logout
          </a>
        {% endif %}
      </div>
      <!-- Mobile Menu Button -->
      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg class="w-6 h-6 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile menu -->
  <div class="mobile-menu hidden absolute w-full bg-indigo-600 shadow-lg z-20">
    <div class="py-2 space-y-1">
      {% if user.is_authenticated %}
        <a href="{% url 'main:show_main' %}" class="block text-center text-white hover:text-gray-300 py-2">Admin</a>
        <a href="{% url 'main:home' %}" class="block text-center text-white hover:text-gray-300 py-2">Home</a>
        <a href="{% url 'main:categories' %}" class="block text-center text-white hover:text-gray-300 py-2">Categories</a>
        <a href="{% url 'main:view_cart' %}" class="block text-center text-white hover:text-gray-300 py-2">Cart</a>
        <span class="block text-center text-gray-300 px-3 py-2">Welcome, {{ user.username }}</span>
        <a href="{% url 'main:logout' %}" class="block text-center bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-300">
          Logout
        </a>
      {% endif %}
    </div>
  </div>
</nav>

<script>
  const btn = document.querySelector(".mobile-menu-button");
  const menu = document.querySelector(".mobile-menu");
  
  btn.addEventListener("click", () => {
    menu.classList.toggle("hidden");
  });
</script>
